.c-toast-container {
    text-align: center;
    background-color: var(--tst-contedor);
    
 }
.c-toast { 
    margin-top: 0.5rem;
    align-items: center;
    justify-content: center;

}
.c-toast--success { 
    color: var(--tst-success);
}
.c-toast--error { 
    color: var(--tst-error);
    margin-top: 0.5rem;

}

@media (max-width: 480px) {
}

@media (max-width: 768px) {
}
